doctype html
// saved from url=(0014)about:internet
head
  title React App
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type="text/css" href='/stylesheets/style.css')
 
noscript You need to enable JavaScript to run this app.
#root
  .jss1
    .jss2
      .jss3
      .jss4
        form#form.jss12(action=link method='post')
          span.css-demv7x Reset Password
          span.css-13r4pix Fill out the information to reset password
          .jss8.css-1e7wkzh
            label(data-shrink='true' for='filled-required')
              | Email
              span3.css-1xpaobf(aria-hidden='true') &thinsp;*
            .css-1jyknci
              input#email.css-1qn5x4n(aria-invalid='false' name='email' placeholder='Your email' type='text')
              small
          .jss9.css-1e7wkzh
            label(data-shrink='true' for='filled-required')
              | Password
              span.css-1xpaobf(aria-hidden='true') &thinsp;*
            .css-1jyknci
              input#password.css-1qn5x4n(aria-invalid='false' name='password' placeholder='Your Password' type='password' value='')
              small
          .jss9.css-1e7wkzh
            label(data-shrink='true' for='filled-required')
              | Confirm Password
              span.css-1xpaobf(aria-hidden='true') &thinsp;*
            .css-1jyknci
              input#password2.css-1qn5x4n(aria-invalid='false' name='password2' placeholder='Your Password' type='password' value='')
              small
          button.jss9.css-1u8h44k(tabindex='0' type='submit')
            | Submit
            span.css-w0pj6f
    .jss5
      .jss6
      .jss7
    script.
      const form = document.getElementById('form');
      const email = document.getElementById('email');
      const password = document.getElementById('password');
      const password2 = document.getElementById('password2');
      let noEmailError = false;
      let noPasswordError = false;
      let noPassword2Error = false;

      //event listners
      form.addEventListener('submit', e => {
        checkInputs();
        if(noEmailError && noPasswordError && noPassword2Error) {
        }else {
          e.preventDefault();
        }
      });

      email.addEventListener('input', e => {
        checkEmailInput();
      });

      password.addEventListener('input', e => {
        checkPasswordInput();
      });

      password2.addEventListener('input', e => {
        checkPassword2Input();
      });

      function checkInputs() {
        checkEmailInput()
        checkPasswordInput()
        checkPassword2Input()
      }

      function checkEmailInput() {
        //trim to remove the whitespaces
        const emailValue = email.value.trim();

        if(emailValue === '') {
          setErrorFor(email, '*Email cannot be blank');
          noEmailError = false;
        } else if (!isEmail(emailValue)) {
          setErrorFor(email, '*Not a valid email');
          noEmailError = false;
        } else {
          setSuccessFor(email);
          noEmailError = true;
        }
      }

      function checkPasswordInput() {
        //trim to remove the whitespaces
        const passwordValue = password.value.trim();

        if(passwordValue === '') {
          setErrorFor(password, '*Password cannot be blank');
          noEmailError = false;
        } else if(passwordValue.length < 8) {
          setErrorFor(password, '*Password should not be less than 8 character');
          noEmailError = false;
        } else if(!isValidPassword(passwordValue)){
          setErrorFor(password, '*Must Contain One Uppercase, One Lowercase, One Number and one special case Character!');
          noEmailError = false;
        }else {
          setSuccessFor(password);
          noPasswordError = true;
        }
      }

      function checkPassword2Input() {
        //trim to remove the whitespaces
        const passwordValue = password.value.trim();
        const password2Value = password2.value.trim();

        if(password2Value === '') {
          setErrorFor(password2, '*Confirm password cannot be blank');
          noEmailError = false;
        } else if(passwordValue !== password2Value) {
          setErrorFor(password2, '*Password and confim password are not matching');
          noEmailError = false;
        } else{
          setSuccessFor(password2);
          noPassword2Error = true;
        }
      }

      function setErrorFor(input, message) {
        const formControl = input.parentElement;
        const small = formControl.querySelector('small');
        formControl.className = 'form-control error';
        small.innerText = message;
      }

      function setSuccessFor(input) {
        const formControl = input.parentElement;
        formControl.className = 'form-control success';
        const small = formControl.querySelector('small');
        small.innerText = '';
      }
        
      function isEmail(email) {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
      }

      function isValidPassword(password) {
        return /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])([a-zA-Z0-9@$!%*?&].+)$/.test(password);
      }
