@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
	margin: 0px;
	color: rgba(0, 0, 0, 0.87);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.00938em;
	background-color: rgb(250, 250, 250);
}

div {
	display: block;
}

form {
	display: block;
	margin-top: 0em;
}

#root {
	display: flex;
	width: 100%;
	height: 100%;
}
.form-control {
	margin-bottom: 5px;
	text-align: left
}

input {
	width: 100%;
	padding: 12px 20px;
	outline: none;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #C7CFD2;
	font-size: 15px;
	letter-spacing: 1px;
}

input:hover {
	border-bottom: 2px solid #4A575F;
}

label {
	letter-spacing: 0.00938em;
	padding: 0px;
	transform-origin: left top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 133%;
	transform: translate(0px, -1.5px) scale(0.75);
	transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	color: rgb(88, 88, 90);
	font-family: Lato, sans-serif;
	line-height: 1;
	font-weight: 400;
	font-size: 18px;
}

.form-control.success input {
	border-bottom: 2px solid #2ecc71;;
}

.form-control.error input {
	border-bottom: 2px solid #e74c3c;
}

.form-control small {
	color: #e74c3c;
	bottom: 0;
	left: 0;
	visibility: hidden;
	text-align: left;
}

.form-control.error small {
	visibility: visible;
}

button:focus {
  outline: 0;
}

.jss1 {
	width: 100%;
	display: flex;
	padding: 1%;
	background-color: #FFFFFF;
}
.jss2 {
	width: 53%;
	height: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}
.jss3 {
	top: 10px;
	left: 25px;
	width: 76px;
	height: 65px;
	z-index: 1;
	position: absolute;
	background-size: contain;
	background-image: url(../logo.7db637e7d25fba994f94fce79da9a15b.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.jss4 {
	width: 55%;
	display: flex;
	max-width: 400px;
	text-align: center;
	align-items: center;
	flex-direction: column;
}
.jss5 {
	width: 47%;
	height: 100%;
	display: flex;
	position: relative;
	align-items: center;
}
.jss6 {
	gap: 50px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	border-radius: 16px;
	background-color: #39B077;
}
.jss7 {
	left: -17%;
	width: 115%;
	height: 77%;
	z-index: 1;
	position: absolute;
	margin-top: 3%;
	background-size: contain;
	background-image: url(../boxes.7eaad36bd44f84ebfbb014e1c8ec6e10.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.jss8 {
	width: 100% !important;
	margin-top: 40px !important;
	text-align: left;
}
.jss9 {
	width: 100% !important;
	margin-top: 15px !important;
	text-align: left;
}
.jss10 {
	width: 24px;
	cursor: pointer;
	height: 24px;
	margin-right: 12px;
}
.jss11 {
	width: 100%;
	display: flex;
	margin-top: 15px;
	align-items: center;
	justify-content: space-between;
}
.jss12 {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.css-demv7x {
	margin: 0px;
	font-size: 32px;
	line-height: 32px;
	font-family: Lato, sans-serif;
	font-weight: 700;
	color: rgb(0, 0, 0);
}

.css-13r4pix {
	margin: 5.6px 0px 0px;
	font-size: 16px;
	line-height: 22.4px;
	font-family: Lato, sans-serif;
	font-weight: 400;
	color: rgb(74, 87, 95);
}

.css-1e7wkzh {
	display: inline-flex;
	flex-direction: column;
	position: relative;
	min-width: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	vertical-align: top;
}

.css-1jyknci::before {
	border-bottom: 2px solid rgb(199, 207, 210);
}

.css-1qn5x4n:invalid {
	box-shadow: none;
}

.css-1u8h44k {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    letter-spacing: 0.02857em;
    min-width: 64px;
    text-transform: none;
    gap: 10px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    background-color: rgb(57, 176, 119);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: Lato, sans-serif;
    font-size: 16px;
    box-shadow: none;
    line-height: 147%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

button:hover {
    background-color: #2B8351;
}

.css-w0pj6f {
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	z-index: 0;
	inset: 0px;
	border-radius: inherit;
}
.css-1jaw3da {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	margin-left: -11px;
	margin-right: 16px;
}

.css-1w6hre0 {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	padding: 0px 9px;
	border-radius: 50%;
	color: rgb(198, 208, 211);
}

.css-1m9pwf3 {
	cursor: inherit;
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

.css-vubbuv {
	user-select: none;
	width: 1em;
	height: 1em;
	display: inline-block;
	fill: currentcolor;
	flex-shrink: 0;
	transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-size: 1.5rem;
}

.css-1w6hre0 .MuiSvgIcon-root {
	border-radius: 200px;
}

.css-1jyknci {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4375em;
	letter-spacing: 0.00938em;
	color: rgba(0, 0, 0, 0.87);
	box-sizing: border-box;
	cursor: text;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
}

@media only screen and (max-width: 600px) {
	.jss5 {
		display: none;
	}
	.jss2 {
		width: 100%;
	}
	.jss4 {
		width: 80%;
	}
}